<div class='popup invite' tabindex='1'>
  
  {{#each users}}
    <input type='checkbox' class='user' val='{{this}}'>{{this}}
  {{else}}
    <p class='empty'>No users</p>
    <input type='button' class='ok' value='Ok'>
  {{/each}}

  {{#if users}}
    <input type='button' class='invite-button' value='Invite'>
  {{/if}}

</div>