<!DOCTYPE html>
<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.sencha.io/ext-4.1.1-gpl/ext-all-dev.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<title>Index</title>

</head>

<body>

<p>This is the index page.</p>

</body>
</html>