<!DOCTYPE html>
<html>
<head>
<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
<script src='/javascripts/login.js'></script>
<link rel='stylesheet' type='text/css' href='/stylesheets/login.css'>

<title>Login</title>

</head>

<body>

<div class='login-form'>

  <div class='form create hidden'>
    <p class='create-button' tabindex='4'>-- New --</p>
    <div class='input'>
      <p class='label'>Username</p>
      <input type='text' class='new-username' tabindex='5'>
    </div>
    <div class='input'>
      <p class='label'>Password</p>
      <input type='password' class='new-password' tabindex='6'>
    </div>
  </div>

  <div class='form login'>
    <div class='input'>
      <p class='label'>Username</p>
      <input type='text' class='username' tabindex='1'>
    </div>
    <div class='input'>
      <p class='label'>Password</p>
      <input type='password' class='password' tabindex='2'>
    </div>
    <p class='login-button' tabindex='3'>-- Login --</p>
  </div>

  <p class='message'></p>
  
</div>

</body>

</html>