<!DOCTYPE html>
<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/javascripts/login.js"></script>

<title>Login</title>

</head>

<body>

<div id="users" style="position:absolute;">

	<h1>Create User</h1>
	Username: <input type="text" id="newUsername"><br>
	Password: <input type="password" id="newPassword"><br>
	<input type="button" value="Create" id="createUser"><br>

	<h1>Login</h1>
	Username: <input type="text" id="username"><br>
	Password: <input type="password" id="password"><br>
	<input type="button" value="Login" id="login"><br>
	
</div>

</body>
</html>