<!DOCTYPE html>
<html>
<head>
<script src='/socket.io/socket.io.js'></script>
<link rel='stylesheet' type='text/css' href='/stylesheets/main.css'>

<title>Set</title>

</head>

<body></body>

<script data-main="javascripts/main" src="/javascripts/lib/require/require.js"></script>
</html>