@import 'skin';

@include establish-baseline;

*, *:before, *:after {
  @include box-sizing(border-box);
  outline: none;
}

body {
  font-family: $default-font-stack;
  font-weight: $default-font-weight;
}

div {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  color: $color-primary;
}

h1 {
  @include adjust-font-size-to(24px);
  @include rhythm(.5, 0, 0, .5, 24px);
}

p {
  @include adjust-font-size-to(16px, 3);
  @include rhythm(0, 1, 1, 0, 16px);
  &.label { display: inline-block; }
  margin: 0;
}

ul {
  list-style-type: none;
}

input[type] {
  font-family: $default-font-stack;
  @include adjust-font-size-to(16px, 3);
  @include rhythm(0, 1, 1, 0, 16px);
  margin: 0;
}

input[type='text'],
input[type='password'] {
  @include leading-border(3px, 1);
  @include trailing-border(3px, 1);
  padding-left: $default-padding;
  border-color: $color-primary;
  background-color: $color-highlight;
  color: $color-primary;
}

input[type='button'] {
  border: none;
  background-color: $color-highlight;
  color: $color-primary;
}