@import 'skin';

@include establish-baseline;

*, *:before, *:after {
  @include box-sizing(border-box);
  outline: none;
}

html { @include adjust-leading-to(4) }

body {
  color: $color-primary;
  background-image: url(/../images/binding_dark.png);
  font-family: $default-font-stack;
}

h1, h2, h3, h4, h5 {
  color: $color-primary;
  margin: 0;
}

h1 {
  height: rhythm(5);
  @include adjust-font-size-to(24px);
  @include rhythm(.5, 0, 0, .5, 24px);
}

p {
  @include adjust-font-size-to(16px);
  @include rhythm(.5, 0, 0, .5, 16px);

  &.label { display: inline-block; }
}

ul {
  list-style-type: none;
}

input[type='text'],
input[type='password'] {
  @include adjust-font-size-to(12px);
  padding-left: $default-padding;
  border-color: $color-primary;
  background-color: transparent;
  color: $color-primary;
}

input[type='button'] {
  background: transparent;
  display: inline-block;
  height: rhythm(4);
  color: $color-primary;
  text-align: center;
  font-family: $default-font-stack;
  @include adjust-font-size-to(16px);
  @include rhythm(.5, 0, 0, .5, 16px);
  border: none;

  @extend %hover-state-gray;
}