$border-width:    2px;

$base-width:      176px;
$base-height:     $base-width * (16  / 25);
$card-width:      $base-width - 2 * $border-width;
$card-height:     $base-height - 2 * $border-width;
$pip-width:       $base-width * (5.5 / 25);
$pip-height:      $base-width * (11  / 25);


.game {  
  height: 100%;
  background-color: #fff;

  .stack {
    display: inline-block;
    width: $card-width;
    margin: 0 $default-padding 0 0;
    &.stack3 { margin: 0; }
    padding: 0;
  }

  .card {
    @include border-radius(4px);
    height: $card-height;
    width:  $card-width;
    text-align: center;
    background-color: transparent;
    border: $border-width solid $color-primary;
    margin: $default-padding 0;
    padding: 0;

    &.selected { background-color: $color-grayscale-select; }

    .pips {
      display: inline-block;
      margin-top: ($card-height - $pip-height) / 2;

      .pip {
        height: $pip-height;
        width: $pip-width;
        margin: 0 2px;
      }
    }
  }
  
}
