.user {
  margin-right: $default-margin;

  .room,
  .score,
  .record,
  .username { display: block; }

  .room {
    .join {
      display: none;

      &.visible { display: inline-block; }
    }
  }
}