.popup {
  @extend %page-center;
  @extend %content-well;
  @include box-shadow;
  background-color: $color-grayscale-select;
  width: 200px;
  z-index: 1;

  &.invite {
    .invite-button { display: block; }
  }
}