@import 'compass/css3';
@import 'compass/typography';

//@import url(http://fonts.googleapis.com/css?family=Raleway);
//@import url(http://fonts.googleapis.com/css?family=Abel);
//@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);
//@import url(http://fonts.googleapis.com/css?family=Josephin+Sans);
//@import url(http://fonts.googleapis.com/css?family=Play);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);

$base-font-size:              16px;
$base-line-height:            6px;
$default-font-stack:          'Open Sans', Helvetica, sans-serif;
$default-font-weight:         300;

$color-set-red:               #cc0000;
$color-set-green:             #009933;
$color-set-purple:            #660066;

$color-grayscale-darker:      #333333;
$color-grayscale-dark:        #666666;
$color-grayscale-light:       #999999;
$color-grayscale-lighter:     #cccccc;

$color-grayscale-select:      rgba(102,102,102,.5); // grayscale-light

$color-primary:               #fff;
$color-highlight:             #d2691e;

$default-padding:             6px;
$default-margin:              $default-padding * 2;
$default-border:              $default-padding / 2;


%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%page-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

%content-well {
  background-color: rgba(0,0,0,.5);
  padding: $default-padding;
}

%hover-state-gray {
  &:hover {
    background-color: $color-grayscale-select;
  }
}

%focus-state-gray {
  &:focus {
    background-color: $color-grayscale-select;
  }
}

%hover-state-highlight {
  &:hover {
    color: $color-highlight;
  }
}

@mixin scrollbar-vert {
  overflow-y: scroll;
}

@mixin triangle($direction, $color, $height: 42px, $width: 12px) {
  position: relative;
  &:before {
    position: absolute;
    content: '';
    height: 0;
    width: 0;
    border-top:    ($height / 2) solid transparent;
    border-bottom: ($height / 2) solid transparent;
    @if $direction == 'left' {
      border-right: $width solid $color;
      left: -1 * $width;
    } @else {
      border-left:  $width solid $color;
      right: -1 * $width;
    }
    top: 0;
  }
}
