@import 'compass/css3';
@import 'blueprint';
@import 'compass/typography/vertical_rhythm';

//@import url(http://fonts.googleapis.com/css?family=Raleway);
//@import url(http://fonts.googleapis.com/css?family=Abel);
//@import url(http://fonts.googleapis.com/css?family=Ropa+Sans);
//@import url(http://fonts.googleapis.com/css?family=Josephin+Sans);
@import url(http://fonts.googleapis.com/css?family=Play);

$blueprint-grid-columns:      24;
$blueprint-container-size:    996px;
$blueprint-grid-width:        30px;
$blueprint-grid-margin:       12px;

$base-font-size:              16px;
$base-line-height:            6px;
$default-font-stack:          'Play', Helvetica, sans-serif;

$color-set-red:               #cc0000;
$color-set-green:             #009933;
$color-set-purple:            #660066;

$color-grayscale-lightest:    #333333;
$color-grayscale-light:       #666666;
$color-grayscale-dark:        #999999;

$color-grayscale-select:      rgba(102,102,102,.5); // grayscale-light

$color-primary:               #fff;
$color-highlight:             $color-set-purple;

$default-padding:             $blueprint-grid-margin;
$default-border:              2px solid $color-primary;
$default-margin:              $blueprint-grid-margin 0;


%clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%page-center {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

%content-well {
  background-color: rgba(0,0,0,.5);
  padding: $default-padding;
}

%hover-state-gray {
  &:hover {
    background-color: $color-grayscale-select;
  }
}

%focus-state-gray {
  &:focus {
    background-color: $color-grayscale-select;
  }
}

%hover-state-highlight {
  &:hover {
    color: $color-highlight;
  }
}

@function content-size($size, $padding) {
  @return ( $size - 2 * $padding );
}

@mixin box-shadow {
  box-shadow: 4px 4px rgba(0,0,0,.5);
}

@mixin scrollbar-vert {
  overflow-y: scroll;
}
