@import 'base';

$form-height:         128px;
$form-width:          320px;
//$content-height:      content-size($form-height, $default-padding);
//$content-width:       content-size($form-width, $default-padding);

$content-height: 4px;
$content-width: 4px;


$displace-vert:       ($content-height / 3) + ($default-padding / 2);
$displace-horiz:      (1 / 2) * $displace-vert;
$transition-vert:     0px;
$transition-horiz:    ($form-width / 2) + $displace-horiz;


.login-form {
  @extend %page-center;
  margin-top: 120px;
}

.create, .login {
  @extend %content-well;
  height: $form-height;
  width: $form-width;
  position: relative;
  z-index: 1;
  transition: all .25s;
  &.hidden { z-index: 0; }
} 

.create {
  top:  $displace-vert;
  left: $displace-horiz;

  &.transition {
    top: $transition-vert;
    left: $transition-horiz;
  }
}

.login {
  bottom: $displace-vert;
  right:  $displace-horiz;

  &.transition {
    bottom: $transition-vert;
    right: $transition-horiz;
  }
}

.input,
.create-button,
.login-button {
  @extend %clearfix;
  @extend %hover-state-gray;
  @extend %focus-state-gray;
  padding: 4px;
  margin: 0;
}

.create-button {
  text-align: right;
}

.input,
.label {
  .hidden & { opacity: 0; }
  .transition & { opacity: 1 !important; }
}

input[type='text'],
input[type='password'] {
  width: 70%;
  float: right;
}

.message {
  @extend %page-center;
  margin-top: 20px;
}