@import 'base';
@import 'game';
@import 'chat';
@import 'lobby';
@import 'popup';


$header-height: 60px;
$cut-size: 20px;


.header,
.content {
  @include container;
  position: fixed;
  left: 50%;
  margin-left: -1 * ($blueprint-container-size / 2);
}

.header {
  top: $default-padding;
  height: $header-height;
  padding: $default-padding;
}

.content {
  top: $header-height + $default-padding;
  bottom: $default-padding;
}

.lobby,
.game,
.chat {
  display: inline-block;
  color: $color-primary;
  vertical-align: top;
  height: 100%;
  margin: 0;
}

.lobby {
  @include column(5);
}

.game {
  @include column(14);
  @extend %content-well;
}

.chat {
  @include column(5);
  @include last;
}

.users {
  @include scrollbar-vert;
  background-color: transparent;
  height: 100%;
  padding: 0;
  margin: 0;
}

.user,
.message {
  @extend %content-well;
  margin: 0 0 $blueprint-grid-margin 0;
}
