@import 'base';
@import 'game';
@import 'chat';
@import 'lobby';
@import 'popup';


.frame {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.center {
  width: 600px;
  height: 100%;
  margin: 0 $default-padding;
  padding: ($default-padding * 3) $default-padding;
  background-color: $color-grayscale-dark;
  border: $default-padding solid $color-highlight;
  box-shadow: 3px 3px 6px $color-grayscale-darker inset;
}

.sidebar {
  width: 15%;
  height: 100%;
  padding: $default-padding 0;
}
