@import 'base';
@import 'game';
@import 'chat';
@import 'lobby';
@import 'popup';


.frame {
  position: fixed;
  display: flex;
  justify-content: center;
  top: $default-padding;
  bottom: $default-padding;
  right: 0;
  left: 0;
}

.game,
.sidebar {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  height: 100%;
}

.game {
  width: 600px;
  margin: 0 (2 * $default-margin);
}

.sidebar {
  width: 15%;
}

.users,
.lobby {
  @include scrollbar-vert;
  height: 100%;
}
