<div class='frame'>

  <div class='sidebar left'>
    <div class='info'></div>
  </div>

  <div class='game'></div>
  
  <div class='sidebar right'>
    <div class='chat'></div>
    <div class='lobby'></div>
  </div>

</div>