<div class='frame'>

  <div class='sidebar left'>
    <div class='header'></div>
    <div class='game-info'></div>
  </div>

  <div class='center'>
    <div class='game'></div>
  </div>
  
  <div class='sidebar right'>
    <div class='chat'></div>
    <div class='lobby'></div>
  </div>

</div>