<p class='set-msg'></p>
<p class='deck-size'></p>
<input type='button' class='leave' value='Quit'>
<input type='button' class='set' value='SET!'>
<br>
<ul class='stack stack1'></ul>
<ul class='stack stack2'></ul>
<ul class='stack stack3'></ul>