/* line 24, sass/_skin.scss */
.login-form, .message {
  display: table;
  margin-left: auto;
  margin-right: auto;
}

/* line 30, sass/_skin.scss */
.create, .login {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

/* line 35, sass/_skin.scss */
.input,
.create-button,
.login-button {
  *zoom: 1;
}
/* line 38, sass/_skin.scss */
.input:before,
.create-button:before,
.login-button:before, .input:after,
.create-button:after,
.login-button:after {
  content: "";
  display: table;
  clear: both;
}

/* line 46, sass/_skin.scss */
.input:hover,
.create-button:hover,
.login-button:hover {
  background-color: rgba(102, 102, 102, 0.5);
}

/* line 52, sass/_skin.scss */
.input:focus,
.create-button:focus,
.login-button:focus {
  background-color: rgba(102, 102, 102, 0.5);
}

/* line 58, sass/_skin.scss */
.create-button:hover,
.login-button:hover {
  color: #660066;
}

/* line 4, sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 8, sass/_base.scss */
body {
  color: white;
  background-image: url(/../images/binding_dark.png);
  font-family: monospace;
}

/* line 14, sass/_base.scss */
h1, h2, h3, h4, h5 {
  color: white;
}

/* line 18, sass/_base.scss */
p {
  display: inline-block;
  margin: 10px 0;
}

/* line 23, sass/_base.scss */
ul {
  list-style-type: none;
}

/* line 28, sass/_base.scss */
input[type='text'],
input[type='password'] {
  padding: 4px;
  margin: 0;
  border: 2px solid white;
  background-color: transparent;
  color: white;
}
/* line 35, sass/_base.scss */
input[type='text']:focus,
input[type='password']:focus {
  outline: 0;
  color: #660066;
  border-color: #660066;
}

/* line 42, sass/_base.scss */
input[type='button'] {
  height: 30px;
  width: 80px;
  background: transparent;
  border: 2px solid white;
  color: white;
  text-align: center;
  font-family: monospace;
  display: inline-block;
}
/* line 52, sass/_base.scss */
input[type='button']:focus {
  outline: 0;
}

/* line 13, sass/login.scss */
.login-form {
  margin-top: 120px;
}

/* line 18, sass/login.scss */
.create, .login {
  height: 128px;
  width: 320px;
  position: relative;
  z-index: 1;
  transition: all .25s;
}
/* line 25, sass/login.scss */
.create.hidden, .login.hidden {
  z-index: 0;
}

/* line 28, sass/login.scss */
.create {
  top: 41px;
  left: 20.5px;
}
/* line 32, sass/login.scss */
.create.transition {
  top: 0px;
  left: 180.5px;
}

/* line 38, sass/login.scss */
.login {
  bottom: 41px;
  right: 20.5px;
}
/* line 42, sass/login.scss */
.login.transition {
  bottom: 0px;
  right: 180.5px;
}

/* line 50, sass/login.scss */
.input,
.create-button,
.login-button {
  padding: 4px;
  margin: 0;
}

/* line 59, sass/login.scss */
.create-button,
.login-button {
  width: 100%;
  height: 36px;
  line-height: 28px;
}

/* line 66, sass/login.scss */
.create-button {
  text-align: right;
}

/* line 70, sass/login.scss */
.label {
  height: 28px;
  line-height: 28px;
  margin: 0;
}

/* line 78, sass/login.scss */
.hidden .input, .hidden
.label {
  opacity: 0;
}
/* line 79, sass/login.scss */
.transition .input, .transition
.label {
  opacity: 1 !important;
}

/* line 83, sass/login.scss */
input[type='text'],
input[type='password'] {
  width: 60%;
  float: right;
}

/* line 88, sass/login.scss */
.message {
  margin-top: 20px;
}
